.arrow_box {
	position: absolute;
	background: #FFC;
	border: 2px solid #DC7;

	border-radius: 5px;
	width: 280px;
	z-index:2147483647;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	
}

.arrow_box:after {
	border-color: rgba(255, 255, 204, 0);
	border-bottom-color: #FFC;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(221, 204, 119, 0);
	border-bottom-color: #DC7;
	border-width: 13px;
	left: 50%;
	margin-left: -13px;
}
.traslatedWord {
	color: black;
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	text-transform: lowercase;
	font-family: 'Terminal Dosis',sans-serif;
	/*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);*/
	text-shadow: none;

	margin-left:5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.selectedWord {

	color: black;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	font-family: 'arial', sans-serif;
	margin-left: 5px;
	margin-top: 5px;
}



.selectedWord span:first-child{

	position: absolute;
	left: 130px;
	top: 0px;

	color: black;
	text-align: left;

	font-size: 14px;
	line-height: 16px;

	font-weight: normal;
	font-family: 'Terminal Dosis', sans-serif;
	
	
	margin-top: 5px;
	

}

.selectedWord span:nth-of-type(2){

	position: absolute;
	left: 195px;
	top: 0px;

	color: black;
	text-align: left;

	font-size: 14px;
	line-height: 16px;

	font-weight: normal;
	font-family: 'Terminal Dosis', sans-serif;
	
	
	margin-top: 5px;
	margin-right: 15px;

	
}

.closeButton img{
	position: absolute;
	left: 268px;
	top: 4px;	
}

#GujaratiLexicon #CloseButtonParent div {
	position: absolute;

}
	
.gujaratiLexiconLink {

	font-size: 10px;
	font-family: 'Terminal Dosis',sans-serif;
	
	
	text-shadow: none;
	text-align: center;
	text-decoration: none;
	font-weight: normal;

	margin-bottom: 5px;
}	

.gujaratiLexiconLink a{
	color: blue;
	text-decoration: none;
	font-weight: normal;
}

.gujaratiLexiconLink a:visited {
	color: blue;
	text-decoration: none;
	font-weight: normal;
}

.gujaratiLexiconLink a:hover {
	color: blue;
	text-decoration: none;
	font-weight: normal;
}

