.arrow_box {
	position: relative;
	background: #FFC;
	border: 2px solid #DC7;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 204, 0);
	border-bottom-color: #FFC;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(221, 204, 119, 0);
	border-bottom-color: #DC7;
	border-width: 13px;
	left: 50%;
	margin-left: -13px;
}